.header__nav {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
}
.nav--wrapper {
  margin: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav--wrapper img {
  cursor: pointer;
}
