.header__nav {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
}
.header__banner {
  display: flex;
  max-height: 490px;
  margin-bottom: 60px;
  width: 100%;
  position: relative;
}
.header__banner::after {
  content: "";
  height: 14px;
  width: 20px;
  background-color: rgb(75, 75, 75);
  position: absolute;
  top: 100%;
  width: 100%;
}
.header__banner img {
  margin: 0 auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.nav--wrapper {
  margin: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1200px) {
  .header__banner {
    max-height: 780px;
  }
}
@media only screen and (min-width: 1600px) {
  .header__banner {
    max-height: 1000px;
  }
}
