button,
a {
  border: none;
  background-color: #e50914;
  border: 1px solid #e50914;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  padding: 6px 27px;
  cursor: pointer;
  text-decoration: none;
}
.outline {
  background-color: rgb(43, 43, 43);
}
