.wrapper {
  color: white;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  width: 100%;
}
.header__banner {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.header__banner::after {
  content: "";
  height: 14px;
  width: 20px;
  background-color: rgb(75, 75, 75);
  position: absolute;
  top: 100%;
  width: 100%;
}
.header__banner {
  margin: 0 auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  object-fit: cover;
  width: 100%;
  height: auto;
  background-image: url("../../images/banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding-top: calc(1125 / 2000 * 100%);
  margin-bottom: 100px;
}
.center {
  margin-top: 50px;
}
@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }
  .center {
    top: 65%;
  }
}
@media only screen and (min-width: 1600px) {
  .header__banner {
    background-size: cover;
    padding-top: calc(1125 / 2000 * 90%);
  }
  h2 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .header__banner {
    background-size: cover;
    padding-top: calc(1125 / 2000 * 80%);
  }
}
