.regSections {
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}
.regSections div {
  border: 1px solid var(--bright-red);
  width: 100%;
  text-align: center;
  padding: 5px 0px;
}
.formWrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: var(--dark-gray);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login {
  position: relative;
}
.regWrapper {
  display: flex;
  flex-direction: column;
  min-height: 285px;
  flex: 1;
}
.registration-form {
  max-width: 500px;
  width: 100%;
  margin: 0 10px;
  background-color: var(--light-gray);
  padding: 50px;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
}
.registration-form label {
  color: black;
  font-weight: 600;
}
.registration-form input {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  color: black;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  background-color: white;
  box-sizing: border-box;
}
.inputWrapper {
  position: relative;
  margin-bottom: 20px;
}
.error {
  color: var(--bright-red);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inputIcon {
  top: 28px;
  right: 0px;
  padding-right: 10px;
  width: 35px;
  height: 35px;
  position: absolute;
  cursor: pointer;
}
.signInBtn {
  margin-top: 20px;
}
@media only screen and (max-width: 540px) {
  .login-form {
    padding: 5px;
  }
}
