.regSections {
  display: flex;
  background-color: black;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.innerWrapper {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  margin: 20px;
}
.regSections div {
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  border: 1px solid var(--bright-red);
  cursor: pointer;
}
.regSections div:first-child {
  border-radius: 10px 0px 0px 0px;
}
.regSections div:last-child {
  border-radius: 0px 10px 0px 0px;
}
.regWrapper {
  display: flex;
  flex-direction: column;
  min-height: 285px;
  margin-bottom: 15px;
  flex: 1;
}
.bg-black {
  background-color: black;
}
.borderRadiusBtm-10 {
  border-radius: 0px 0px 10px 10px;
}
